.home {
  width: 100%;
  padding: calc(1.5rem + 5vh) $x-padding;
  height: auto;

  span {
    color: $light-accent;
  }
  h2 {
    font-size: calc(2rem + 0.4vw);
  }

  .start {
    min-height: 100vh;

    h3 {
      font-size: calc(1.5rem + 0.4vw);
      display: none;
    } 
    h1 {
      margin-top: 0.5rem;
      font-size: calc(2rem + 2vw);
      line-height: 100%;

    }
    .description {
      margin-top: 2rem;

      p {
        font-size: calc(1rem + 0.5vw);
      }
    }
    .links {
      display: flex;
      gap: 0.5rem;
      margin-top: calc(2rem + 1vh);
    }
  }
  .projects {
    // padding: 0 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    min-height: 90vh;

    .grid-projects {
      margin-top: 2rem;
      display: grid;
      gap: 1rem;

      img {
        max-width: 100%;
      }
    }
  }

  .contact {
    // padding: 0 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    min-height: 80vh;

    form {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      padding: 2rem 0rem;
      gap: 1rem;

      .field {
        background: #eceff4;
        outline: none;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
      }
      textarea {
        height: 10rem;
      } 
    }
  }
}
.animation {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: hidden;
  filter: blur(4px);
}

@media only screen and (min-width: 600px) {
  .home {
    .start {
      h3 {
        display: block;
      }
    }
  }
  .line {
    &:nth-of-type(2) {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 900px) {
  .home {
    padding-left: calc(8rem + 4vw);

    .start h1 {
      width: 90%;
      font-size: calc(2rem + 3.6vw);
    }
    .start .description {
      width: 70%;
    }

    .projects .grid-projects {
      grid-template-columns: 1fr 1fr;
    }
    .contact form {
      width: 80%;
      grid-template-columns: 1fr 1fr;

      input:nth-of-type(3) {
        grid-column: span 2;
      }
      textarea {
        grid-column: span 2;
      } 
    }
  }
}

@media only screen and (min-width: 1200px) {
  .home .projects .grid-projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home .contact form { width: 60%; }
}
