.intro {
	z-index: 101;
	width: 100%;
	height: 100vh;
	background-color: #2e3440;
	position: fixed;
  transform: translateY(0);
	transition: transform 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &.end {
    transform: translateY(-100vh);
  }
}
