$x-padding: calc(1.2rem + 1vw);
// $dark-accent: #5e81ac;
// $light-accent: #88c0d0;
$dark-accent: #7c1fe0;
$light-accent: #b079ec;
$background: #3b4252;
$foreground: #d8dee9;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import 'intro';
@import 'nav';
@import 'default';
@import 'home';
@import 'about';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
	width: 100%;
	overflow-x: hidden;
	// background: red;
}
a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}
p {
  font-size: 1rem;
}

.button {
  padding: 0.8rem 1.2rem;
  border: none;
  text-decoration: none;
  font-size: calc(1rem + 0.2vw);
  cursor: pointer;
  background-color: $foreground;

  &:hover {
    background-color: $dark-accent;
    color: white;
  }
}

footer {
  padding: 0rem $x-padding;
  background: grey;
  width: 100%;
  min-height: 10vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(145deg, #000000, #333333);
}
