<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "hidek.xyz" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <%!-- <link
      phx-track-static
      rel="stylesheet"
      href={~p"/assets/node_modules/@fontsource/zen-kaku-gothic-new/index.css"}
    /> --%>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-[#101414] text-white antialiased mx-auto max-w-4xl px-4 py-6 sm:px-6 lg:px-8 font-sans">
    <%= @inner_content %>
  </body>
</html>
