@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
.intro {
  z-index: 101;
  width: 100%;
  height: 100vh;
  background-color: #2e3440;
  position: fixed;
  transform: translateY(0);
  transition: transform 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.intro.end {
  transform: translateY(-100vh);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.line {
  opacity: 1;
  width: 4.5rem;
  height: 0.4rem;
  background-color: black;
}
.line:nth-of-type(2) {
  opacity: 0;
}

nav {
  z-index: 1;
  width: 100%;
  height: 10vh;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
nav h1 {
  margin-left: calc(1.2rem + 1vw);
}
nav .mobile-menu {
  display: none;
  opacity: 0;
  cursor: pointer;
  margin-right: calc(1.2rem + 1vw);
  pointer-events: none;
  transition: 0.5s ease;
}
nav .mobile-menu.show {
  animation: navLinkFade 0.3s ease forwards 0.3s;
  display: block;
  pointer-events: all;
}
nav .mobile-menu div {
  width: 32px;
  height: 3px;
  background: #000;
  margin: 8px;
  transition: 0.3s;
}
nav .nav-list {
  z-index: -1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #b079ec;
  transform: translateX(100vw);
  transition: transform 0.3s ease-in;
}
nav .nav-list ul {
  top: 10vh;
  position: fixed;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
nav .nav-list ul li {
  opacity: 0;
  list-style: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
nav .nav-list ul li a {
  padding: 1.5rem 2rem;
  gap: 0.5rem;
}
nav .nav-list ul li:hover a, nav .nav-list ul li.active a {
  color: white;
}
nav .nav-list ul li:hover div, nav .nav-list ul li.active div {
  background: white;
}
nav .nav-list.active {
  transform: translateX(0);
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

main {
  position: absolute;
  top: 10vh;
  width: 100%;
  height: auto;
  min-height: 90vh;
}

.home {
  width: 100%;
  padding: calc(1.5rem + 5vh) calc(1.2rem + 1vw);
  height: auto;
}
.home span {
  color: #b079ec;
}
.home h2 {
  font-size: calc(2rem + 0.4vw);
}
.home .start {
  min-height: 100vh;
}
.home .start h3 {
  font-size: calc(1.5rem + 0.4vw);
  display: none;
}
.home .start h1 {
  margin-top: 0.5rem;
  font-size: calc(2rem + 2vw);
  line-height: 100%;
}
.home .start .description {
  margin-top: 2rem;
}
.home .start .description p {
  font-size: calc(1rem + 0.5vw);
}
.home .start .links {
  display: flex;
  gap: 0.5rem;
  margin-top: calc(2rem + 1vh);
}
.home .projects {
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 90vh;
}
.home .projects .grid-projects {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}
.home .projects .grid-projects img {
  max-width: 100%;
}
.home .contact {
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 80vh;
}
.home .contact form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 0rem;
  gap: 1rem;
}
.home .contact form .field {
  background: #eceff4;
  outline: none;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
}
.home .contact form textarea {
  height: 10rem;
}

.animation {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: hidden;
  filter: blur(4px);
}

@media only screen and (min-width: 600px) {
  .home .start h3 {
    display: block;
  }

  .line:nth-of-type(2) {
    opacity: 1;
  }
}
@media only screen and (min-width: 900px) {
  .home {
    padding-left: calc(8rem + 4vw);
  }
  .home .start h1 {
    width: 90%;
    font-size: calc(2rem + 3.6vw);
  }
  .home .start .description {
    width: 70%;
  }
  .home .projects .grid-projects {
    grid-template-columns: 1fr 1fr;
  }
  .home .contact form {
    width: 80%;
    grid-template-columns: 1fr 1fr;
  }
  .home .contact form input:nth-of-type(3) {
    grid-column: span 2;
  }
  .home .contact form textarea {
    grid-column: span 2;
  }
}
@media only screen and (min-width: 1200px) {
  .home .projects .grid-projects {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .home .contact form {
    width: 60%;
  }
}
.about {
  width: 100%;
  padding: calc(1.5rem + 2vh) calc(1.2rem + 1vw);
  height: auto;
  min-height: 80vh;
}
.about span {
  color: #b079ec;
}
.about h1 {
  font-size: calc(2rem + 2vw);
}
.about p {
  margin-top: 1rem;
  font-size: calc(1rem + 0.3vw);
}

@media only screen and (min-width: 900px) {
  .about {
    padding-left: calc(8rem + 4vw);
    width: 80%;
    text-align: justify;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 1rem;
}

.button {
  padding: 0.8rem 1.2rem;
  border: none;
  text-decoration: none;
  font-size: calc(1rem + 0.2vw);
  cursor: pointer;
  background-color: #d8dee9;
}
.button:hover {
  background-color: #7c1fe0;
  color: white;
}

footer {
  padding: 0rem calc(1.2rem + 1vw);
  background: grey;
  width: 100%;
  min-height: 10vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(145deg, #000000, #333333);
}

/*# sourceMappingURL=styles.css.map */
